.flex{
	display: flex;
}
.inline{
	display: inline;
}

.BuildForm{
	display: none;
}
.BuildForm.ActiveBuildType{
	display: block;
}

.spinner:focus{
	outline-width: 0px;
}

.dialog > fieldset > div > * {
	margin-bottom: 0.3em;
	margin-top: 0.3em;
	display: block;
}


#Factory{
	padding: 0.1em;
	margin-right: auto;
	width: 50%;
}
#Factory #Items{
	overflow: auto;
	width: 100%;
}
#sidebar{
	margin-left: auto;
}
