.flex{
	display: flex;
}
.flex-column{
	display: flex;
	flex-direction: column;
}
.float-right{
	float: right;
}
.disabled {
	pointer-events: none;
	opacity: 0.35;
}

#Factory{
	flex: 1;
	margin-right: 0.5em;
	overflow: auto;
}
#Sidebar{
	margin-left: 0.5em;
}

/*Dialog*/
.BuildForm{
	display: none;
}
.BuildForm.ActiveBuildForm{
	display: block;
}

.dialog{
	text-align: center;
}
.dialog > * {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

/*BuildEdit*/
#BuildEdit{
	overflow: auto;
}
#BuildEdit > *{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
