.flex{
	display: flex;
}
.flex-column{
	display: flex;
	flex-flow: column;
}
.inline{
	display: inline-block;
}
.float-right{
	float: right;
}

.greyed-out{
	opacity: 0.35;
}
/*
.BuildForm{
	display: none;
}
.BuildForm.ActiveBuildType{
	display: block;
}

.dialog{
	text-align: center;
}
.dialog#settings > *,
.dialog#machineSelect > *,
.dialog#newBuild > fieldset > div > * {
	margin-bottom: 0.3em;
	margin-top: 0.3em;
	display: block;
}

fieldset > * {
	margin-top: 0.3em;
	margin-top: 0.3em;
}
.dialog #machineConfig > * {
	margin-left: 0.3em;
	margin-right: 0.3em;
}
.dialog #settings > div > * {
	display: inline-block;
}
*/

#Factory{
	flex: 1;
	flex-flow: column;
	width: 45%;
	height: 100%;
	margin-right: 0.5em;
}
#Factory .tree{
	flex: 1;
	overflow: auto;
}

#Sidebar{
	width: 45%;
	height: 100%;
	margin-left: 0.5em;
}
#Sidebar #Toolbar{
	/*margin-bottom: 0.1em;*/
}

#Control{
	flex: 2;
	margin-top: 0.1em;
	margin-bottom: 0.2em;
	overflow: auto;
}
#Control > div{
	display: block;
}
#Control > div > *{
	margin-top: 0.15em;
	margin-bottom: 0.15em;
}

#Control #Beacon > *,
#Control #Machine > *{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

#TotalBuild{
	flex: 1;
	margin-top: 0.2em;
	overflow: auto;
}
#TotalBuild > fieldset {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
